/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/


h1, h2, h3{
  font-family: 'Arial Rounded MT Bold', 'Calibri';
}

h1 {
  font-size : 40px
}

h2 {
  font-size : 30px
}

p{
  text-align: justify;
  margin : 0px;
  padding-bottom : 5px;
}

body{
  background-color: #fffffd;
}